<!DOCTYPE html>
<!-- index.html -->
{% extends 'base.html' %}
{% load static %}

{% block body %}

    <body>
        <!-- protect section start -->
        <div class="protect_section layout_padding">
            <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1 class="protect_taital">We Found Love in the Hardest Place</h1>
                    <p class="protect_text">Tired of Being Single? Not Sure if she match with your type? why do not you just try this app mate. Cheers</p>
                </div>
            </div>
            <div class="protect_section_2 layout_padding">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class="hands_text"><a href="#">Love <br>Tester</a></h1>
                        <h1 class="hands_text"><a href="#">Love Recommendation</a></h1>
                        <h1 class="hands_text"><a href="#">Love <br>Seeker</a></h1>
                    </div>
                    <div class="col-md-6">
                        <div class="img_2"><img src="{% static '/images/img-2' %}.png"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- protect section end -->
        <!-- about section start -->
        <div class="about_section layout_padding">
            <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="about_img"><img src="{% static '/images/img-1' %}.png"></div>
                </div>
                <div class="col-md-6">
                    <h1 class="about_taital">What Love Really is?</span></h1>
                    <p class="about_text">"Sometimes The Only Thing You Have to Doubt is Your Own Common Sense" <br>-Nico Robin</p>
                    <div class="read_bt"><a href="#">Read More</a></div>
                </div>
            </div>
            </div>
        </div>
        <!-- about section end -->
        <!-- doctor section start -->
        <div class="doctors_section layout_padding">
            <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="taital_main">
                        <div class="taital_left">
                        <div class="play_icon"><img src="{% static '/images/play-icon' %}.png"></div>
                        </div>
                        <div class="taital_right">
                        <h1 class="doctor_taital">Developer Favorite Love Podcast</h1>
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/3umwSO38negsA2GdWh7lFg?utm_source=generator&theme=0" width="40%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/6kLAfAINIa7aFUsz0fwe5E?utm_source=generator&theme=0" width="40%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- doctor section end -->
        <!-- news section start -->
        <div class="news_section layout_padding">
            <div class="container">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <h1 class="news_taital">Love in Science</h1>
                        <p class="news_text">You May Wondering What is Love as an Factual Thing</p>
                        <div class="news_section_2 layout_padding">
                        <div class="box_main">
                            <div class="image_1"><img src="{% static '/images/news-img.png' %}"></div>
                            <h2 class="design_text">How Love Work Biologicaly</h2>
                            <p class="lorem_text">Background</p>
                            <div class="read_btn"><a href="#">Read More</a></div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                    <h1 class="news_taital">Love Blogs</h1>
                        <p class="news_text">Telling you story about love. But this is not love story</p>
                        <div class="news_section_2 layout_padding">
                        <div class="box_main">
                            <div class="image_1"><img src="{% static '/images/news-img.png' %}"></div>
                            <h2 class="design_text">KOSONG BOS</h2>
                            <p class="lorem_text">SENGGOL DONG</p>
                            <div class="read_btn"><a href="#">Read More</a></div>
                        </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                    <h1 class="news_taital">KOSONG BOS SENGGOL DONG</h1>
                        <p class="news_text">YUK LAH SIKAT</p>
                        <div class="news_section_2 layout_padding">
                        <div class="box_main">
                            <div class="image_1"><img src="{% static '/images/news-img.png' %}"></div>
                            <h2 class="design_text">KOSONG BOS</h2>
                            <p class="lorem_text">SENGGOL DONG</p>
                            <div class="read_btn"><a href="#">Read More</a></div>
                        </div>
                        </div>      
                    </div>
                </div>
                <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
                <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
                <i class="fa fa-angle-right"></i>
                </a>
            </div>
            </div>
            </div>
        </div>
        <!-- news section end -->
        <!-- footer section start -->
        <div class="footer_section layout_padding">
            <div class="container">
            <div class="footer_section_2">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <h2 class="useful_text">Projects</h2>
                        <div class="footer_menu">
                        <ul>
                            <li><a href="#">Machine Learning</a></li>
                            <li><a href="#">Data Analyst</a></li>
                            <li><a href="#">Personal Blogs</a></li>
                        </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h2 class="useful_text">About</h2>
                        <p class="footer_text">This Website Only for Demonstrate the Machine Learning that I Modeled</p>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h2 class="useful_text">Contact Me</h2>
                        <div class="location_text">
                        <ul>
                            <li>
                                <a><i class="fa fa-map-marker" aria-hidden="true"></i>
                                <span class="padding_15">Jakarta, Indonesia</span></a>
                            </li>
                            <li>
                                <a href="komarr007.github.io/RIGAQI"><i class="fa fa-phone" aria-hidden="true"></i>
                                <span class="padding_15">Call +62 895*****</span></a>
                            </li>
                            <li>
                                <a href="mailto:mariorangga000@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i>
                                <span class="padding_15">Email Me!</span></a>
                            </li>
                        </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <h2 class="useful_text">countrys</h2>
                        <div class="map_image"><img src="{% static '/images/map-bg' %}.png"></div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- footer section end -->
        <!-- copyright section start -->
        <div class="copyright_section">
            <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <p class="copyright_text">© little modified from template -><a href="https://html.design"> html Template</a></p>
                </div>
            </div>
            </div>
        </div>
        <!-- copyright section end -->
        <!-- Javascript files-->
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
        <script src="{% static 'js/plugin.js' %}"></script>
        <!-- sidebar -->
        <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
        <script src="{% static 'js/custom.js' %}"></script>
        <!-- javascript --> 
        <script src="{% static 'js/owl.carousel.js' %}"></script>
        <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
        <script>
            $(document).ready(function(){
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
                });
                    
                $(".zoom").hover(function(){
                    
                $(this).addClass('transition');
                }, function(){
                    
                $(this).removeClass('transition');
                });
            });
        </script> 
        <script>
            function openNav() {
            document.getElementById("myNav").style.width = "100%";
            }
            function closeNav() {
            document.getElementById("myNav").style.width = "0%";
            }
        </script>
        <script>
            $('#id_is_samerace').on('change', function (e) {
                var optionSelected = $("option:selected", this);
                var valueSelected = this.value;

                if (valueSelected == 1){
                    $('#race-of-partner-wrapper').hide();
                } else {
                    $('#race-of-partner-wrapper').show();
                }
            });
        </script>
    </body>

{% endblock %}